
/* ==========================================================================
   Author's custom styles
   ========================================================================== */


th, td {
    padding: 10px;
    text-align: left;
}


/* Contact form */
form label {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 10px 0;
}

form input#name,
form input#email,
form input#subject {
  width: 400px;
  background-color: #fafafa;

          border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
}

form textarea#message {
  width: 500px;
  height: 100px;
  background-color: #fafafa;

          border-radius: 3px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.1em;
}

form input#submit {
  display: block;

          border-radius: 3px;
  border:1px solid #d8d8d8;
  padding: 10px;
  font-weight:bold;
  text-align: center;
  color: #000000;
  background-color: #f4f4f4;

  background-image: linear-gradient(top, #f4f4f4, #e5e5e5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f4f4, endColorstr=#e5e5e5);
}

form input#submit:hover{
  cursor: pointer;
  border:1px solid #c1c1c1;
  background-color: #dbdbdb;

  background-image: linear-gradient(top, #dbdbdb, #cccccc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dbdbdb, endColorstr=#cccccc);
}

body h1 {
    font-family: "Righteous";
}

.jumbotron {
    width: 100%;
    text-align: left;
}

jumbotron h1 {

}

.my_table {
    margin: 10%;
}


#navbar-brand {
    width: 100%;
    font-size: 40px;
    font-family: "Righteous";
}

.btn {
    font-size: 10px;
}

@media screen and (min-width:480px) {
.btn {
    font-size: 15px;
    }
}


ul.nav li.dropdown:hover > ul.dropdown-menu {
    display:none;
}

#paypal {
    position: absolue;
    margin-right: 10px;
}













