<!doctype html>
<html lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
	    <meta name="google" content="notranslate">
	    <meta http-equiv="Content-Language" content="en">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <link rel="shortcut icon" href="../static/img/favicon.ico">
        <title>Eve PI Profits</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">


        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Racing+Sans+One|Righteous|Quicksand" rel="stylesheet">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
                font-family: "Quicksand";
            }
        </style>
    </head>


    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
         <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">

      {% block title %}
        <h1>EVE PI Profits</h1>
        <p>Planetary interaction profitability across New Eden for the online computer game EVE Online.</p>
          <p></p>
          <p>Select a system above to view profitability. Marginal profit is the sell price of the commodity minus the sell cost of the construction materials. Profit margin is the marginal profit divided by the sale price.  A negative profit margin means that the materials are worth more unassembled than as a finished good, and you lose money if you assembled the product.</p>
	  <p>Market data now updated every two hours on the hour.  You may experience delays when it updates. Data from from CCP (bless you EveCentral).</p>
      {% endblock %}




      </div>
    </div>
    <div class="container">
         {% block content %}
         {% endblock %}
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div>
            <div id="paypal" class="hidden-xs">
             <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="PYLJAR5RXWXEA">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
            </div>
        <div class="navbar-header">
            <!--
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            -->

            <div>
                <a id="navbar-brand" href="{{url_for('index')}}">EvePIProfits.com</a>
            </div>


            <style media="screen and (max-width: 460px)">@media screen and (min-width:480) {
                    .btn {font-size: 15px;}}
            </style>
           <div class="btn"><a href="{{url_for('jita')}}">Jita</a></div>
           <div class="btn"><a href="{{url_for('amarr')}}">Amarr</a></div>
           <div class="btn"><a href="{{url_for('rens')}}">Rens</a></div>
           <div class="btn"><a href="{{url_for('dodixie')}}">Dodixie</a></div>
           <div class="btn"><a href="{{url_for('contact')}}">Contact</a></div>

        </div>

      </div>

        <div id="navbar" class="navbar-collapse collapse">

          
        </div><!--/.navbar-collapse -->
       

    </nav>



    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      <p>

       </p>
      </div>

      <hr>

      <footer>
        <p>&copy; Wm. Stephen Scott (aka Ewo Deveraux) 2017</p>
      </footer>
    </div>

        <script src="../static/js/vendor/jquery-3.1.1.js"></script>
        <script src="../static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="../static/js/vendor/bootstrap.min.js"></script>
        <script src="../static/js/vendor/jquery.dataTables.min.js"></script>
        <script src="../static/js/vendor/main.js"></script>
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <script src="../static/js/vendor/garlic.min.js"></script>

        {% block scripts %}
        <script>

            function roundMe (number) {
                return Math.round((number * 100)) / 100;
            }

            $(document).ready(function() {
                // CSS selector
                $("input[name=tax_rate]").on('input', function() {
                    var taxRate = parseFloat($(this).val()) / 100.0;

                    // corner case
                    if (isNaN(taxRate))
                        taxRate = 0;

                    $("#mainTable tbody tr").each(function () {
                        var newCost = -9999999999999;
                        var level = $(this).find(".level").text()
                        //var level = $(this).children(":first").text();
                        var sellPriceTd = $(this).find(".price").first();
                        //var priceTd = $(this).find(".cost").first();
                        var costTd = $(this).find(".cost").first();
                        var profitTd = $(this).find(".profit").first();
                        var marginTd = $(this).find(".margin").first();
                        var cmdtyName = $(this).children(":nth-child(2)").text();
                        var originalPrice = $(costTd).data("original");
                        originalPrice = Number(originalPrice);
                        var sellPrice = $(sellPriceTd).data("original");
                        // level == "P0"/"P1"/"P2"
                        if (level == "P0") {
                            newCost = (5 * taxRate);
                        } else if (level == "P1") {
                            newCost = originalPrice + (400.0 * taxRate);
                        } else if (level == "P2") {
                            newCost = originalPrice + (10400.0 * taxRate);
                        } else if (level == "P3") {
                            if (cmdtyName == "Biotech Research Reports"
                                || cmdtyName == "Cryoprotectant Solutions"
                                || cmdtyName == "Gel-Matrix Biopaste"
                                || cmdtyName == "Hazmat Detection Systems"
                                || cmdtyName == "Planetary Vehicles"
                                || cmdtyName == "Supercomputers") {
                                newCost = originalPrice + (168000.0 * taxRate);
                            } else if (    cmdtyName == "Camera Drones"
                                        || cmdtyName == "Condensates"
                                        || cmdtyName == "Data Chips"
                                        || cmdtyName == "Guidance Systems"
                                        || cmdtyName == "Hermetic Membranes"
                                        || cmdtyName == "High-Tech Transmitters"
                                        || cmdtyName == "Industrial Explosives"
                                        || cmdtyName == "Neocoms"
                                        || cmdtyName == "Nuclear Reactors"
                                        || cmdtyName == "Robotics"
                                        || cmdtyName == "Smartfab Units"
                                        || cmdtyName == "Synthetic Synapses"
                                        || cmdtyName == "Transcranial Microcontrollers"
                                        || cmdtyName == "Ukomi Superconductors"
                                        || cmdtyName == "Vaccines") {
                                newCost = originalPrice + (84000.0 * taxRate);
                            } else {
                                newCost = -99999999;
                                    }
                        } else if (level == "P4"){
                            if (cmdtyName == "Broadcast Node"
                                || cmdtyName == "Integrity Response Drones"
                                || cmdtyName == "Recursive Computing Module"
                                || cmdtyName == "Self-Harmonizing Power Core"
                                || cmdtyName == "Wetware Mainframe") {
                                newCost = originalPrice + (1740000.0 * taxRate);
                            } else if (cmdtyName == "Nano-Factory"
                                       || cmdtyName == "Organic Mortar Applicators"
                                       || cmdtyName == "Sterile Conduits") {
                                      newCost = originalPrice + (1704000.0 * taxRate);
                            } else {
                                newCost = -9999999999;
                            }
                        }

                        var profit = sellPrice - newCost;
                        var profitMargin = profit / sellPrice * 100;
                        //document.write(typeof(originalPrice));
                        //document.write(typeof(sellPrice));
                        //document.write(typeof(newCost));
                        //document.write(typeof(profit));
                        //document.write(typeof(profitMargin));
                        //document.write(typeof(level));
                        var priceString = roundMe(sellPrice).toLocaleString();
                        var profitString =  roundMe(profit).toLocaleString();
                        var newCostString = roundMe(newCost).toLocaleString();
                        var profitMarginString = roundMe(profitMargin).toLocaleString();
                        /*
                        $(sellPriceTd).text(priceString);
                        $(costTd).text(newCostString);
                        $(profitTd).text(profitString);
                        $(marginTd).text(profitMarginString);
                        */

                    });
                });
            });
        </script>
        {% endblock %}

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-97231238-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
