{% extends "index.html"%}
{% block title %}
<title>Jita</title>
{% endblock title %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}



{% block content %}
    {% block headline %}<h1>Jita</h1>{% endblock headline %}
        {% block tax_field %}
        <div>
            <h3>Tax Rate:</h3>
                <label for="tax_rate">Tax Rate:</label>
                <input type="number" name="tax_rate" step=".25" value="0" data-persist="garlic" />
            </form>
        </div>
        {% endblock %}

    <table id="mainTable" class="hover table table-striped display compact">
        <thead>
        <tr>
            <th>Level</th>
            <th>Name</th>
            <th>Price</th>
            <th>Cost</th>
            <th>Profit</th>
            <th>Profit Margin</th>
            <th>Datetime (UTC)</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}

        <tr>
            <td class="level">{{entry[6]}}</td>
            <td>{{entry[0]}}</td>
            <td id="price-{{loop.index}}" class="price" data-original="{{entry[1]}}" data-order="{{entry[1]}}">{{entry[1]}}</td> <!-- Price -->
            <td id="cost-{{loop.index}}" class="cost" data-original="{{entry[5]}}" data-order="{{entry[5]}}">{{entry[5]}}</td>
            <td id="profit-{{loop.index}}" class="profit" data-original="{{entry[2]}}" data-order="{{entry[2]}}">{{entry[2]}}</td>
            <td id="margin-{{loop.index}}"  class="margin" data-original="{{entry[3]}}" data-order="{{entry[3]}}">{{entry[3]}}</td>
            <td>{{entry[4]}}</td>
        </tr>

        <script>
            $(document).ready(function() {


                priceString = "price-{{loop.index}}";
                if (isNaN($(priceString).data("order")) == true) {
                    $(priceString).data("order", 0);
                }

                costString = "cost-{{loop.index}}";
                if (isNaN($(costString).data("order")) == true) {
                    $(costString).data("order", 0);
                }

                profitString = "profit-{{loop.index}}";
                if (isNaN($(profitString).data("order")) == true) {
                    $(profitString).data("order", 0);
                }

                marginString = "margin-{{loop.index}}";
                if (isNaN($(marginString).data("order")) == true) {
                    $(marginString).data("order", 0);

                }
            });



        </script>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}

<script>

</script>