{% extends "index.html"%}
{% block title %}
<title>Jita</title>
{% endblock title %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}



{% block content %}
    {% block headline %}<h1>Jita</h1>{% endblock headline %}
        {% block tax_field %}
        <div>
            <h3>Tax Rate:</h3>
                <label for="tax_rate">Tax Rate:</label>
                <input type="number" name="tax_rate" step=".25" value="0" data-persist="garlic" />
            </form>
        </div>
        {% endblock %}

    <table id="mainTable" class="hover table table-striped display compact">
        <thead>
        <tr>
            <th>Level</th>
            <th>Name</th>
            <th>Price</th>
            <th>Cost</th>
            <th>Profit</th>
            <th>Profit Margin</th>
            <th>Datetime (UTC)</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}

        <tr>
            <td class="level">{{entry[6]}}</td>
            <td>{{entry[0]}}</td>
            <td class="price" data-original={{entry[1]}} data-sort={{entry[1]}}>{{entry[1]}}</td> <!-- Price -->
            <td class="cost" data-original={{entry[5]}} data-sort={{entry[5]}}>{{entry[5]}}</td>
            <td class="profit" data-original={{entry[2]}} data-sort={{entry[2]}}>{{entry[2]}}</td>
            <td class="margin" data-original={{entry[3]}} data-sort="{{entry[3]}}">{{entry[3]}}</td>
            <td>{{entry[4]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}