{% extends "index.html"%}
{% block title %}
<Title>Rens</Title>

{% endblock %}
{% block content %}
<h1>Rens</h1>
<table id="mainTable" class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Profit</th>
        <th>Profit Margin</th>
        <th>Datetime</th>
    </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
    <tr>
        <td>{{entry[0]}}</td>
        <td>{{entry[1]}}</td>
        <td>{{entry[2]}}</td>
        <td>{{entry[3]}}</td>
        <td>{{entry[4]}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}